@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

body {
  font-size: 100%;
  scroll-behavior: smooth;
}

.simplebar-content {
  height: 100%;
}

.link-hover {
  text-decoration: underline;
  outline: none;
  text-decoration-color: transparent;
  transition-property: text-decoration;
  transition-duration: 300ms;
  transition-timing-function: ease;

  &:hover,
  &:focus {
    text-decoration-color: white;
  }
}

.spotlight-hero {
  position: absolute;
  transform: translate(-42%, -42%);
}

.hero-illustration {
  position: absolute;
  transform: scale(1.4) translate(20%, -10%);
}

.partner-multicoin-capital,
.partner-ideo-colab,
.partner-framework,
.partner-solana,
.partner-jacket-river,
.partner-knobs {
  transform: scale(0.8);
}

.partner-textile {
  transform: scale(0.45);
}

.divider {
  position: absolute;
  left: 50%;
  width: calc(100% + 2rem + (10rem * 2));
  height: 10rem;
  border-bottom-left-radius: 50% 70%;
  border-bottom-right-radius: 50% 70%;
  transform: translate(-50%, -1px);
  @apply bg-obsidian-shard;
}

.divider-footer {
  position: absolute;
  bottom: 0;
  left: 50vw;
  width: calc(100vw + 2rem + (10rem * 2));
  height: 10rem;
  border-top-left-radius: 50% 70%;
  border-top-right-radius: 50% 70%;
  transform: translate(calc(-50vw - 10rem * 2), 1px);
  @apply bg-obsidian-shard;
  overflow: hidden;
}

.spotlight-slogan {
  position: absolute;
  transform: scale(1.25) translate(-30%, 2%);
  opacity: 0.8;
}

.divider-section-slogan {
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100vw + 2rem + (15rem * 2));
  height: 15rem;
  border-top-left-radius: 50% 70%;
  border-top-right-radius: 50% 70%;
  transform: translate(-50%, calc(-100% + 1px));
}

.spotlight-features {
  position: absolute;
  transform: scale(1.5) translateY(10%);
  opacity: 0.5;
}

.social {
  svg {
    transition: transform 300ms ease;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.section-team-shape {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(4) translate(-1rem, -2rem);
}
