@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  --white: #ffffff;
  --obsidian-shard: #040415;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

body {
  font-size: 100%;
  scroll-behavior: smooth;
}

.simplebar-content {
  height: 100%;
}

.link-hover {
  text-decoration: underline;
  outline: none;
  text-decoration-color: transparent;
  transition-property: text-decoration;
  transition-duration: 300ms;
  transition-timing-function: ease;

  &:hover,
  &:focus {
    text-decoration-color: var(--white);

    &.black {
      text-decoration-color: var(--obsidian-shard);
    }
  }
}

.sidebar-overlay {
  animation: fadeIn 300ms ease;
}

.sidebar {
  animation: slideIn 300ms ease;
}

.partner-multicoin-capital-img,
.partner-ideo-colab-img,
.partner-framework-img,
.partner-solana-img,
.partner-jacket-river-img,
.partner-knobs-img,
.partner-hashed-img {
  transition-property: filter;
  transition-duration: 300ms;
  transition-timing-function: linear;
  transform: scale(0.5);

  @media screen and (min-width: 768px) {
    transform: scale(0.6);
  }

  @media screen and (min-width: 1280px) {
    transform: scale(0.8);
  }
}

.partner-hashed-img {
  transform: scale(0.4);
  @media screen and (min-width: 768px) {
    transform: scale(0.5);
  }

  @media screen and (min-width: 1280px) {
    transform: scale(0.7);
  }
}

.partner-multicoin-capital-link,
.partner-ideo-colab-link,
.partner-framework-link,
.partner-jacket-river-link,
.partner-knobs-link,
.partner-solana-link {
  &:hover {
    filter: brightness(0) invert(1);
  }
}

.partner-solana-link,
.partner-hashed-link {
  &:hover {
    .text {
      filter: brightness(0) invert(1);
    }
  }
}

.partner-hashed-link:hover .text {
  filter: brightness(0) invert(1);
}

.divider {
  width: calc(100% + 2rem + (10rem * 2));
  border-bottom-left-radius: 50% 70%;
  border-bottom-right-radius: 50% 70%;
}

.divider-footer {
  width: calc(100vw + 2rem + (10rem * 2));
  border-top-left-radius: 50% 70%;
  border-top-right-radius: 50% 70%;
}

.divider-section-slogan {
  width: calc(100vw + 2rem + (15rem * 2));
  border-top-left-radius: 50% 70%;
  border-top-right-radius: 50% 70%;
}

.section-team-shape {
  transform: scale(4) translate(-1rem, -2rem);
}
